<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.izhipeng.test.dao.IndexMapper">

    <!-- 根据ID查询数据 -->
    <select id="select" resultType="com.izhipeng.test.po.Test">
        SELECT
       	id,name,age
        FROM test
    </select>

</mapper>